<h1>Sign up to chat</h1>

<form action="/users" method="post">
User name: <input type="text" name="user_name">
Email: <input type="text" name="email" value="<%= @user.email %>">
Password: <input type="password" name="password">
Password confirmation: <input type="password" name="password_confirmation">
<input type="submit" value="Sign up">
</form>
